<div class="logos">
			<div class="logos-slide">
				{% svgIcon 'google.svg' %}
				{% svgIcon 'meta.svg' %}
				{% svgIcon 'tiktok.svg' %}
				{% svgIcon 'bmg.svg' %}
				{% svgIcon 'island.svg' %}
				{% svgIcon 'mnrk.svg' %}
				{% svgIcon 'nettwerk.svg' %}
				{% svgIcon 'uta.svg' %}
				{% svgIcon 'zcon.svg' %}
				{% svgIcon 'handwritten.svg' %}
			</div>
			<div class="logos-slide">
				{% svgIcon 'google.svg' %}
				{% svgIcon 'meta.svg' %}
				{% svgIcon 'tiktok.svg' %}
				{% svgIcon 'bmg.svg' %}
				{% svgIcon 'island.svg' %}
				{% svgIcon 'mnrk.svg' %}
				{% svgIcon 'nettwerk.svg' %}
				{% svgIcon 'uta.svg' %}
				{% svgIcon 'zcon.svg' %}
				{% svgIcon 'handwritten.svg' %}
			</div>
</div>